@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* My colors */
    --blue: 245, 83%, 61%;
    --dark-blue: 249 47% 20%;

    /* Shadcn colors */
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    /* --primary: 222.2 47.4% 11.2%; */
    --primary: 36 85% 57%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    line-height: 150%;
    color: hsl(0, 0%, 30%);
  }

  h1,
  h2,
  h3,
  h4 {
    text-wrap: balance;
    line-height: 125% !important;
  }
}

.wrapper {
  @apply mx-auto max-w-[1280px] px-4 md:px-12 lg:px-20;
}

.bg-hands {
  background-image: url("/hands.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 0 100%;
}

@media screen and (min-width: 475px) {
  .bg-hands {
    background-image: url("/big-hands.png");
  }
}
